* {
    margin: 0;
}

:root {
    --white: rgba(255, 255, 255, 0.87);

    font-family: "Chakra Petch", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--white);
}

#root{
    height: 100%;

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    text-shadow: grey 2px 2px;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(lime 0%, limegreen 100%) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


header {
    color: white;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
}

main, footer {
    padding-left: 5%;
    padding-right: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    height: 15vh;
    background: #034e03;

    display: flex;
    justify-content: center;
    align-items: center;
}
