.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.code {
  white-space: preserve;
}

$--transition-time: .4s;
$--frame-width: 400px;
$--frame-height: 300px;

.frame {
  margin: 1rem;
  padding: 1rem;
  background: black;
  user-select: none;
  transition: box-shadow $--transition-time;
}

.framedPhoto {
  background-color: bisque;
  position: relative;
  width: $--frame-width;
  height: $--frame-height;
}

.framedPhoto > iframe {
  display: block;
  width: $--frame-width;
  height: $--frame-height;
  border: none;
}

.framedPhotoInfo {
  position: absolute;
  top: 20vh;
  height: 70vh;
  width: fit-content;

  overflow: clip; // TODO should be able to view the whole thing

  align-content: center;
  padding: 1rem;
  background: dimgray;
  transition-behavior: allow-discrete;
  display: none;
  opacity: 0;
}


.framedPhotoInfo.right {
  right: -100vw;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: end;
  --translate-x-inn: -100vw;
  animation: fade-out-right $--transition-time forwards;

}

.framedPhotoInfo.left {
  left: -100vw;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: start;
  --translate-x-inn: 100vw;
  animation: fade-out-left $--transition-time forwards;

}

.frame:hover {
  box-shadow: 0 0 4px 1px black;

  .framedPhotoInfo {
    &.left, &.right {
      display: block;
      animation: fade-in $--transition-time forwards;
    }
  }
}

@keyframes fade-in {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    transform: translateX(var(--translate-x-inn));
    opacity: 1;
  }
}

@keyframes fade-out-left {
  from {
    display: block;
    transform: translateX(100vw);
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-out-right {
  from {
    display: block;
    transform: translateX(-100vw);
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}


