.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.galleryFrame {
  margin: 1rem;
  padding: 1rem;
  background: black;
  user-select: none;

  transition: all 0.2s;
}

.galleryFrame:hover {
  box-shadow: 0 0 4px 1px black;
}


.galleryPhoto {
  width: 150px;
  height: 200px;
  object-fit: cover;
  background-color: bisque;
}
