* {
    margin: 0;
}

:root {
    --white: rgba(255, 255, 255, 0.87);

    font-family: "Chakra Petch", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--white);
}

#root{
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(lime 0%, limegreen 100%) no-repeat;
}

h1 {
    font-size: 3rem;
    text-shadow: grey 2px 2px;
}
